
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Criptomante - Análise por padrões numéricos</title>
	<link rel="shortcut icon" href="{% static 'images/logo_aba.png' %}" >

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'js/main/jquery.min.js' %}"></script>
	<script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
	<script src="{% static 'js/plugins/visualization/echarts/echarts.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'js/demo_pages/dashboard.js' %}"></script>
	<script src="{% static 'js/demo_charts/pages/dashboard/light/streamgraph.js' %}"></script>
	<script src="{% static 'js/demo_charts/pages/dashboard/light/sparklines.js' %}"></script>
	<script type="text/javascript">
		{% include "graficos.js" with componente="grafico_historico" grafico="basico" legenda_basico="'Valor'" valores_basico=grafico_historico %} 
		{% include "graficos.js" with componente="analise_numerica" grafico="basico" legenda_basico="'Valor'" valores_basico=previsao_numerica %} 
	</script>

	

</head>

<body>

	<!-- Main navbar -->
	{% include "barra_superior.html" %}   
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->

		<!-- /Main sidebar -->
		{% include "barra_lateral.html" %}
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Metodologia</span> - Análise por padrões numéricos</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
					
				</div>
				
			</div>
			<!-- /page header -->
			<div class="content">
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Análise por padrões numéricos</h5>
					</div>
					<div class="card-body">
					<!-- /Inicio do texto -->
						<p class="MsoNormal"><b>Análise de padrões numéricos<o:p></o:p></b></p><p class="MsoNormal">A análise de padrões numéricos, como todas as análises
						desenvolvidas nesse projeto, se baseia no <b>princípio de ondas de Elliot, </b>que
						afirma que as variações nos valores de ativos financeiros são cíclicas.<o:p></o:p></p><p class="MsoNormal">Nessa análise criamos uma estrutura de dados, chamada de <b>snapshot</b>,
						que é capaz de descrever a vizinhança de variação da Bitcoin em um dado
						momento.<o:p></o:p></p><p class="MsoNormal">Assim, utilizando um método capaz de avaliar a semelhança de
						dois snapshots, realizamos um estudo sobre qual snapshot do histórico da
						Bitcoin é mais parecido com o snapshot da data atual. Assim, assumimos que a
						tendência de variação da Bitcoin é igual a tendência de datas que tiveram
						snapshots semelhantes ao snapshot atual.<o:p></o:p></p><p class="MsoNormal">Segue abaixo o roteiro detalhado do algoritmo:<o:p></o:p></p><p>

						<span style="font-size:11.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;
						mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:
						minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
						mso-bidi-theme-font:minor-bidi;mso-ansi-language:PT-BR;mso-fareast-language:
						EN-US;mso-bidi-language:AR-SA"><br clear="all" style="mso-special-character:line-break;
						page-break-before:always">
						</span>

						</p><p class="MsoNormal"><o:p>&nbsp;</o:p></p><p class="MsoNormal"><b>Passo 1: Definição de um snapshot<o:p></o:p></b></p><p>



						</p><p class="MsoNormal">Um snapshot é estrutura contendo 13 tuplas. Cada tupla representa a variação do valor do Bitcoin entre duas datas. 
							                     Cada tupla possui um atributo do tipo date, chamado de data, um atributo numérico chamado de variação e uma sigla 
												 descritiva.
							</p>
							<p class="MsoNormal">
								<br>
							</p>
							<p class="MsoNormal">
								<br>
							</p>
								<p style="text-align: center; ">
									<img src="https://i.imgur.com/yX8IrVs.png" style="width: 650px;"></p><p style="text-align: left;"><br></p><p class="MsoNormal"><b>Passo 2: Recuperamos o gráfico da Bitcoin dos últimos 12
						meses</b></p>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col-8">
								<div class="svg-center text-center">
									<div class="chart has-fixed-height"  id="grafico_historico"></div>
								</div>
							</div>
							<div class="col-2">
							</div>
						</div>
						
						<p class="MsoNormal"><b>&nbsp;</b></p><p class="MsoNormal"><b>Passo 3: Calcular o snapshot do momento atual<o:p></o:p></b></p><p class="MsoNormal">Utilizando a definição de snapshot exibida no passo 1, e
						aplicando para o gráfico exibido no passo 2, temos o seguinte snapshot:<o:p></o:p></p><p class="MsoNormal" style="margin-top:0cm;margin-right:149.0pt;margin-bottom:
						8.0pt;margin-left:6.0cm"><o:p>&nbsp;</o:p></p>
						
						<div class="row">
							<div class="col-3">
							</div>
							<div class="col-6">
								{% include "tabela.html" with categorias=header_snapshots dados=tabela_snapshot_atual%}
							</div>
							<div class="col-3">
							</div>
						</div>
						
						<p class="MsoNormal"><b>Passo 4: Buscamos snapshots semelhantes<o:p></o:p></b></p><p class="MsoNormal">Em nosso banco de dados, as transações de compra-e-venda de
						bitcoin são agrupadas por dia e hora. Isso nos fornece 24 registros de cotação contendo
						o valor médio da Bitcoin por dia.<o:p></o:p></p><p class="MsoNormal">Nesse passo, calculamos snapshots cada um dos mais de 70.000
						registros de cotação de Bitcoin no banco de dados.<o:p></o:p></p><p class="MsoNormal">Então pontuamos cada snapshot conforme a sua semelhança com
						o snapshot atual. A pontuação de um snapshot será igual a quantidade de linhas
						em que a variação desse snapshot for igual a variação do snapshot atual, com uma
						margem de tolerância de 10%, para a mesma sigla.<o:p></o:p></p><p class="MsoNormal">


						</p><p class="MsoNormal">O seguinte código-fonte Python expressa a função:</p><p class="MsoNormal" style="text-align: center; "><img src="https://i.imgur.com/ME5EECV.png" style="width: 633px;"></p><p class="MsoNormal"><br></p><p class="MsoNormal"><br></p><p class="MsoNormal"><br></p><p class="MsoNormal">Por fim, definimos um peso para cada snapshot, exponencial à
						sua pontuação. Utilizando a seguinte equação:<o:p></o:p></p><p class="MsoNormal" style="text-align: center;"><img src="https://i.imgur.com/76fqNSk.png" style="width: 207px;"><br></p><p class="MsoNormal">Segue abaixo os snapshots com as maiores pontuações quando
						comparados com o snapshot exibido no passo 3:<o:p></o:p></p><p class="MsoNormal">


						<div class="row">
							<div class="col-6">
								{% include "tabela.html" with categorias=header_snapshots dados=tabela_melhor_snapshot_1%}
								<p class="MsoNormal"><i>Pontuação: {{Pontuacao1}}, Peso:  {{Peso1}}</i></p>
							</div>
							<div class="col-6">
								{% include "tabela.html" with categorias=header_snapshots dados=tabela_melhor_snapshot_2%}
								<p class="MsoNormal"><i>Pontuação: {{Pontuacao2}}, Peso:  {{Peso2}} </i></p>
							</div>
						</div>

						
						
						
						
						<p class="MsoNormal"><br></p><p class="MsoNormal"><br></p>												
						<p class="MsoNormal"><b>Passo 5: Método de previsão<o:p></o:p></b></p><p class="MsoNormal">A previsão da variação da Bitcoin para uma data futura
						qualquer, que esteja a X dias da data atual, é calculada da seguinte forma:<o:p></o:p></p><p class="MsoNormal">Criamos uma lista com vazia. Então, para cada snapshot cujo
						peso calculado seja maior do que zero, calculamos a variação no valor da
						Bitcoin entre a Data Referência e X dias futuros a essa data. E então,
						adicionamos a lista.<o:p></o:p></p><p class="MsoNormal">Então, cada elemento adicionado a lista será repetido um
						número de vezes igual ao peso de seu snapshot. Isso nos garante que snapshots
						de datas com maior semelhança com a data atual ocuparão mais lugares na lista.<o:p></o:p></p><p class="MsoNormal">Finalmente, ordenamos a lista e encontramos sua mediana. A
						mediana encontrada será a variação prevista para a data que esteja X dias no
						futuro. Usamos a mediana, ao invés da média, como tratamento de outliners, que
						em valores de ativos financeiros, normalmente apontam eventos não-ciclicos.<o:p></o:p></p>
						
						<p class="MsoNormal">A tabela a seguir indicar os snapshots de maior contribuição para lista, a cotação da Bitcoin exatamente um mês depois da Data Referência de cada Snapshot, a variação entre essas cotações, e o Peso do snapshot, que indica a quantidade de contribuições que faz a lista de previsão.<o:p></o:p></p>
						
						<div class="row">
							<div class="col-1">
							</div>
							<div class="col-10">
								{% include "tabela.html" with categorias=header_tabela_lista dados=tabela_lista%}
							</div>
							<div class="col-1">
							</div>
						</div>
						
						
						
						<p class="MsoNormal">A partir dessas variações inseridas à nossa lista de variações previstas para 1 mês no futuro. E de outras centenas de variações inseridas por todos os outros snapshots que 
						tiveram peso maior do que zero, poderemos enfim estimar o valor futuro da Bitcoin a partir da mediana dessa lista.<o:p></o:p></p><p class="MsoNormal">&lt;Inserir lista completa para D+30&gt;<o:p></o:p></p><p class="MsoNormal">Por fim, podemos calcular mais datas futuras, e gerar um
						gráfico com o valor previsto para o futuro da Bitcoin<o:p></o:p></p><p class="MsoNormal">

						
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col-8">
								<div class="svg-center text-center">
									<div class="chart has-fixed-height"  id="analise_numerica"></div>
								</div>
							</div>
							<div class="col-2">
							</div>
						</div>


					</div>
				</div>
			</div>
			

			<!-- Footer -->
			<!-- Main navbar -->
			{% include "footer.html" %}   
			<!-- /main navbar -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
