
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Criptomante - Análise por repetição de comentários</title>
	<link rel="shortcut icon" href="{% static 'images/logo_aba.png' %}" >

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_original_table.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'js/main/jquery.min.js' %}"></script>
	<script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
	<script src="{% static 'js/plugins/visualization/echarts/echarts.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'js/demo_pages/dashboard.js' %}"></script>
	<script src="{% static 'js/demo_charts/pages/dashboard/light/streamgraph.js' %}"></script>
	<script src="{% static 'js/demo_charts/pages/dashboard/light/sparklines.js' %}"></script>
	

	

</head>

<body>

	<!-- Main navbar -->
	{% include "barra_superior.html" %}   
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->

		<!-- /Main sidebar -->
		{% include "barra_lateral.html" %}
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Metodologia</span> - Análise por repetição de comentários</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
					
				</div>
				
			</div>
			<!-- /page header -->
			<div class="content">
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Análise por repetição de comentários</h5>
					</div>
					<div class="card-body">
					
						<p class="MsoNormal">A análise por repetição de comentários, como todas as análises
						desenvolvidas nesse projeto, se baseia no <b>princípio de ondas de Elliot, </b>que
						afirma que os fenômenos sociais e a especulação financeira são cíclicos.<o:p></o:p></p>

						<p class="MsoNormal">Nessa análise identificamos a semelhança entre o que é
						publicado em uma rede social sobre a Bitcoin atualmente, e o que já foi
						publicado no passado. A partir dessa semelhança, e do valor histórico da
						Bitcoin, obtemos uma estimativa de sua tendência futura.<o:p></o:p></p>

						<p class="MsoNormal">Nesse projeto analisamos publicações na rede social <b>Reddit</b>,
						na sessão específica de debates sobre a Bitcoin.<o:p></o:p></p>

						<p class="MsoNormal">A análise detalhada é composta pelos seguintes passos:<o:p></o:p></p>

						<p class="MsoNormal"><b>&nbsp;</b></p>

						<p class="MsoNormal"><b>Passo 1: Listamos as mensagens publicadas nas últimas 24
						horas.<o:p></o:p></b></p>

						<p class="MsoNormal">Na tabela a seguir estão algumas das mensagens trocadas nas últimas
						24 horas.<o:p></o:p></p>

						<div class="row">
							<div class="col-1">
							</div>
							<div class="col-10">
								{% include "tabela.html" with categorias=mensagens_recentes_header dados=mensagens_recentes%}
							</div>
							<div class="col-1">
							</div>
						</div>
						<p class="MsoNormal"><o:p>&nbsp;</o:p></p>

						<p class="MsoNormal"><b>Passo 2: Separação em frases menores.<o:p></o:p></b></p>

						<p class="MsoNormal">Utilizamos o motor de processamento de linguagem natural
						Spacy para separar mensagens longas em sentenças menores.<o:p></o:p></p>

						<p class="MsoNormal">Tome por exemplo, a mensagem a seguir:<o:p></o:p></p>

						<p class="MsoNormal">  <i>  {{ mensagem_mais_frases }}  </i>  <o:p></o:p></p>

						<p class="MsoNormal">Essa mensagem será dividida nas seguintes sentenças:<o:p></o:p></p>

						<ul> {{  frases|safe  }} </ul>

						<p class="MsoNormal"><b>Passo 3: Realizamos um tratamento nas frases, removendo
						caracteres especiais, links e etc.<o:p></o:p></b></p>

						<ul> {{  frases_pos_tratamento|safe  }} </ul>

						<p class="MsoNormal"><b>Passo 4: Analisamos ocorrências anteriores de cada frase
						e obtemos nosso resultado.<o:p></o:p></b></p>

						<p class="MsoNormal">Para cada frase, analisamos suas ocorrências anteriores. <o:p></o:p></p>

						<p class="MsoNormal">Analisamos também o valor da Bitcoin no dia seguinte a data
						de postagem de cada ocorrência anterior da frase. <o:p></o:p></p>

						<p class="MsoNormal">Para cada ocorrência em que o valor da Bitcoin no dia
						seguinte foi de pelo menos 5% maior do que no dia de postagem da frase,
						contamos como uma ocorrência Positiva.<o:p></o:p></p>

						<p class="MsoNormal">Para cada ocorrência em que o valor da Bitcoin no dia
						seguinte foi de pelo menos 5% menor do que no dia de postagem da frase,
						contamos como uma ocorrência Negativa.<o:p></o:p></p>

						<p class="MsoNormal">Ocorrências em que o valor da Bitcoin no dia seguinte teve
						uma variação menor do que 5% são ignoradas.<o:p></o:p></p>

						<div class="row">
							<div class="col-1">
							</div>
							<div class="col-10">
								{% include "tabela.html" with categorias=header_comentarios_recentes dados=comentarios_recentes%}
							</div>
							<div class="col-1">
							</div>
						</div>

						<p class="MsoNormal">Por fim, o resultado da análise será baseado se a maioria
						das frases que demonstraram tendência tiveram tendência positiva ou negativa.<o:p></o:p></p>

						<p class="MsoNormal">Nessa análise específica, a tendência foi: &lt;Inserir
						resultado da análise por repetição de comentários&gt;<o:p></o:p></p>

						<p class="MsoNormal">A análise consolidada, disponível no dahsboard, terá aumento
						de 5% a análise por repetição de comentário e a análise semântica tiverem
						resultado positivo.<o:p></o:p></p>

						<p class="MsoNormal">Por analogia, A análise consolidada terá queda de 5% se
						ambas as análise por repetição de comentário e a análise semântica tiverem
						resultado negativo.<o:p></o:p></p>
							<h2></h2>
					</div>
				</div>
			</div>
			

			<!-- Footer -->
			<!-- Main navbar -->
			{% include "footer.html" %}   
			<!-- /main navbar -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
