{% autoescape off %}
{% load static %}
                        <!-- Marketing campaigns -->													
							

							<div  style="overflow-x:auto;">
								<table class="table" style="overflow-x:auto; ">
									<thead style="overflow-x:auto;">
										<tr style="overflow-x:auto; white-space:nowrap; ">
                                            {% for header in categorias %}
                                                <th scope="col" >{{header}}</th>
                                            {% endfor %}
											
										</tr>
									</thead>
									<tbody>
                                        {% for dado in dados %}
                                        <tr>
                                        {% for header in categorias %}
                                        {% for key, value in dado.items %}
                                        {% if key == header %}                                        											
												{{ value }}											
                                        {% endif %}
										{% endfor %}
                                        {% endfor %}
                                        </tr>
                                        {% endfor %}																			
									</tbody>
								</table>
							</div>
						
						<!-- /marketing campaigns -->
{% endautoescape %}                        